<h2>Committee Lookup</h2>

<form>
  <div class="form-group">
    <label for="name">Name</label><br>
    {{input value=name id="name"}}
  </div>
  <p><a class="btn btn-default" role="button" {{action 'committeeLookup'}}>Search »</a></p>

</form>
