<h2>Legislator Lookup</h2>

<form>
  <div class="form-group">
    <label for="zip">Zip</label><br>
    {{input value=zip id="zip"}}
  </div>
  <p><a class="btn btn-default" role="button" {{action 'zipLookup'}}>Search »</a></p>

</form>
